@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+3:ital,wght@1,200&display=swap');

body      
{
    background-image: url("./images/videomp.mp4");
    background-color: #800000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
    

}  
.vid
 {
  position: fixed;
  top: 0;
  margin-left: 2.5vw;
  width: 100%;
  height: auto;
  scale: 130%;
  object-fit: cover;
  z-index: -1; 
}
.topnav {
    background-color: rgb(220,220,220, 0.7);
    height: 56px;
    overflow: hidden;
    border-radius: 80px;
  }
  
 
  .topnav a {
    margin-left: 30px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace ;
    font-size: 13px;
  }
  
  .topnav a img
  {
    height: 20px;
    width: auto;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: #800000;
  }


  .topnav h2
  {
    margin-top: 1%;
    margin-right: 30% ;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: black 1px 1px;
  }

  .title img
  {
    margin-left: 46%;
    margin-top: 4%;
    height: 100px;
    width: auto;
  }
  .title h1
  {
    margin-top: -1%;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: black 4px 4px;
  }
  .title h4
  {
    margin-top: -1%;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: wheat;
  }

.t2
{
  margin-top: 10%;
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-weight: 100;
  color: whitesmoke;
  text-shadow: black 4px 4px;
}


section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-image: url("../images/BG.png");
  border-radius: 30px;
  transition: transform 0.3s ease;
}

li
{
  color: white;
  font-weight: bold;
  font-family: 'Source Sans 3', sans-serif;
}
section:hover
{
  transform: scale(1.3);
}


h2 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-weight: 100;
  color: whitesmoke;
  text-shadow: black 4px 4px;
}

p
{
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  font-weight: 100;
  color: whitesmoke;
  text-shadow: black 4px 4px;

}



  .WWDSF
  {
    z-index: 1;
  }
  .WWDSF img
  {
 
    margin-bottom: -3vw;
    margin-left: -7px;
    width: 98.7vw;
    height: 80vw;
    z-index: -1;
  }




.qoute
{
  margin-left: -0.5vw ;
  width: 98.7vw;
  height: 16vh;
  margin-top: -10%;
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  color: rgb(116, 115, 114);
  z-index: 7;
}

@media (max-width: 480px) {

  .title img
  {
    margin-left: 38vw;
  }
  section {
      margin: 10px;
      padding: 10px;
  }
  .section:hover
  {
    transform: scale(1.1);
  }
  .WWDSF img
  {
    width: 100vw;
    height: 80vh;
  }
  .qoute
  {
    margin-top: -40%;
  }

}
